* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
    font-family: "Verdana", sans-serif;
}

.left-section {
    flex: 1;
    background: url(./assets/image-cover.avif) center / cover no-repeat;
    display: flex;
    flex-direction: column;
}

.logo-container {
    margin-top: 150px;
    background-color: #00000065;
    text-align: center;
    padding: 20px;
}

.credits {
    text-align: center;
    color: white;
    margin: auto 0 20px 0;
}

.credits a {
    margin-top: auto;
    color: white;
}

.right-section {
    flex: 1;
}